*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Lato, sans-serif;
}
.sec_body{
    background-image: url('./assests/Images/bg_img');
    height: 100vh;
    width: auto;
}

/* ------------------------------------Nav Section ------------------- */

nav{
    opacity: 70%;
    /* border: 2px solid black; */
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_div1{
    /* border: 2px solid black; */
    height: 80px;
    width: 91%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: fixed; */
}
.nav_child_div1{
    /* border: 2px solid red; */
}
.nav_child_div1 a{
    text-decoration: none;
    padding: 15px;
    margin: 0px 0px 0px -15px;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}
.nav_child_div1 a:hover{
    color: rgb(8, 8, 8);
    font-weight: 750;
}
.nav_child_div1 a img{
    margin: -5px 15px 0px 0px;
}
.nav_child_div2{
    /* border: 2px solid blue; */
    width: 36.3%;
}
.nav_child_div2 ol{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.nav_child_div2 ol>li{
    font-size: 13px;
}
.nav_child_div2 ol>li a{
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    letter-spacing: 1px;
    padding: 14.3px;
    line-height: 20px;
    position: relative;
    display: block;
    color: rgb(255, 255, 255);
}
.nav_child_div2 ol>li a:hover{
    color: rgb(0, 0, 0);
    font-weight: 500;
}
.main_title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    width: auto;
    color: #f2f2f2;
}
.main_title h1{
    font-family: "Chronicle Display Bold", Georgia, serif;
    font-size: 3em;
    font-weight: 700;
    color: #f2f2f2;
    text-align: center;
    line-height: 1.15;
}
.main_title h3{
    display: inline-block;
    padding: 1.2em 0;
    font-size: 1.3rem;
    font-weight: 550;
    line-height: 1.5;
    color: #f2f2f2;
    text-transform: uppercase;
    font-family: Helvetica, Arial, sans-serif;
}
.scroll_down{
    /* border: 2px solid red; */
    text-align: center;
    margin-top: -20px;
    width: 100%;
    height: 60px;
}
.scroll_down a{
    text-decoration: none;
    color: #f2f2f2;
    /* border: 1px solid black; */
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    opacity: 85%;
}
.scroll_down a i{
    padding-top: 20px;
}
.scroll_down a:hover{
    color: black;
}


/* ----------------- ABOUT SECTION ----------------------- */
.about{
    /* border: 2px solid red; */
    display: flex;
    gap: 20px;
    height: 116vh;
    padding: 100px;
    color: #f2f2f2;
    background-color: #1b1b1b;
}
.about_div1 h1{
    font-size: 3em;
    font-family: "Chronicle Display Bold", Georgia, serif;
    line-height: 1.15;
}
.about_div1 h3{
    width: 60%;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.5;
    margin: 19.2px 0px 10px;
    font-family: Helvetica, Arial, sans-serif;
}
.about_div1 span{
    border: 1px solid #00b7c7;
    display: block;
    width: 100PX;
    margin: 30px 0px;
}
.about_div1 p{
    margin: 0px 0px 10px;
    font-family: Helvetica, Arial, sans-serif;
}
.about_div2 {
    /* border: 2px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.about_div2 img{
    width: 395px;
    height: 395px;
    margin-left: 20%;
    border-radius: 50%;
}


/* -----------------What I DO Section 2 ----------------- */
.passion{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    color: #f2f2f2;
    background-image: url('./assests/Images/bg_img_1.jpg');
    min-height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}
.wallpaper{
    width: 100%;
    height: 100%;
    padding: 100px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .61), rgba(0, 0, 0, .61), rgba(0, 0, 0, .61), rgba(0, 0, 0, .61), rgba(0, 0, 0, .61));
}
.passion_div1 h1{
    font-size: 3em;
    font-family: "Chronicle Display Bold", Georgia, serif;
}
.passion_div1 span{
    border: 1px solid #00b7c7;
    display: block;
    width: 100PX;
    margin: 30px 0px;
}
.passion_child_div1{
    /* border: 2px solid red; */
    width: 100%;
    height: auto;
    display: grid;
    /* justify-content: center; */
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    gap: 0px;
    padding: 20px;
}
.passion_child_div1 .card_1,
.passion_child_div1 .card_2,
.passion_child_div1 .card_3,
.passion_child_div1 .card_4{
    border: 1px solid rgba(242, 242, 242, .3);;
    border-top: none;
    border-right: none;
    width: 100%;
    height: 30vh;
    padding: 20px;
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
}
.passion_child_div1 .card_1{
    border-left: none;
}
.passion_child_div1 .card_3{
    border-left: none;
    border-bottom: none;
}
.passion_child_div1 .card_4{
    border-bottom: none;
}
.passion_child_div1 div>div{
    display: flex;
}
.passion_child_div1 div img{
    margin: 0px 15px 0px 0px;
    width: 40px;
    height: 40px;
}
.passion_child_div1 div h2{
    margin: 10px 0px 30px 0px;
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
}
.passion_child_div1 div p{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    margin-bottom: 20px;
    white-space: initial;
}